@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model IList<GiftCertApp.Models.Gctype>
@{
    ViewBag.Title = "Gift Cert Type";
    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}

<h2 class="ifx_application_content_container_main_title">Gift Cert Type</h2>

<input type="hidden" id="gcTypes" value="@JsonConvert.SerializeObject(Model, jsonSerializerSettings)" />

<div class="ifx_application_content_container" id="content">
</div>

@section scripts{
    <script src="@Url.Content("~/js/gcType.bundle.js")"></script>
}
